@font-face {
  font-family: "Nata Sans", sans-serif;
   src: url('~@/assets/fonts/Open_Sans.ttf') format('truetype');
    font-display: swap;
}
html {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

body {
  font-family: "Nata Sans", sans-serif;   
}
